html, body
{
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table
{
	border-collapse: collapse;
	border: 1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width: 70%;
}
 
th
{
	background: none repeat scroll 0 0 #09c332;
	padding: 10px;
	color: #FFFFFF;
}

tr
{
	height: 40px;
	text-align: center;
}
 
tr:nth-child(even)
{
	background: #FFFFFF;
}

tr:nth-child(odd)
{
	background: #BBBBBB;
}
 
#wrapper
{
	width: 100%;
	margin-top: 0;
}

#header
{
	width: 70%;
	background: #09c332;
	margin-top: 0;
	padding: 15px 0 15px 15px;
}

#header h2
{
	width: 100%;
	margin: auto;
	color: #FFFFFF;
}

#container
{
	width: 100%;
	margin:auto
}

#container h3
{
	color: #000;
}

#container #content
{
	margin-top: 20px;
}

.add-button
{
	font-weight: bold;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 15px;
	width: fit-content;
	padding: 5px 10px;
	margin-bottom: 15px;
	background: #cccccc;
}

.add-button:hover
{
	color: white;
	cursor: pointer;
}


input:focus
{
	outline: none;
}

a:link
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: underline;
}